body {display: block;
       margin: 5px 25px 5px 25px;
       font-size: 13px;
       font-family: Arial, Helvetica, sans-serif; }
.headerr{margin-left: 10px;
       margin-right: 10px;
       display: block;}
.rt1   {float: right;}
.ppp { border-radius: 5px;
       margin: 1px 0 0 0;
       overflow: hidden;
       position: relative;
       background-color: #004080;
       left: 0;
       top: 0;}
.mobile{display: none;
       background-color: #00366d;
       padding: 0 6px;}
.clear{clear: both;}
.rrr  {display: block;
       margin: 0 3px 3px 5px;
       padding: 3px 10px;
       border-radius: 4px;
       background-color: white; }
.search  {display: block;
       width: 25%;
       right: 7px;
       top: 7px;
       position: absolute;}
form {border: 0 solid #999;
       padding: 5px;
       background-color: white;
       font-size: 12px;}
.template{display: table-row;}
.logo{display: table-cell;
       width: 250px;
       margin: 0;
       padding: 14px 22px 8px 22px;
       max-width: 500px;}
.logo1{width: 250px;
       display: block;
       padding-bottom: 19.2%;
       background: url(./logo-mobile.png) no-repeat center center;
       background-size: contain;}
.site{display: table-cell;
      vertical-align: bottom;}
.title1{padding: 0;
       margin: 0;
       height: 30px;
       overflow: hidden;
       text-align: left;
       font-size: 13px;
       text-transform: none;
       display: flex;}
.gol{display: inline-block;
       height: 23px;
       line-height: 20px;
       margin: 3px 0 0 0px;
       padding: 1px 6px 0 6px;
       font-weight: bold;
       color: #3e3b34;
       border-radius: 5px 5px 0 0;
       border-style: solid;
       border-width: 2px 2px 0 2px;
       background: #efedd9 url(./gggg.png) repeat-x 0 0;
       cursor: pointer;}  
.gol:hover{margin-top:-1px;
           padding-top: 5px;}
.gol1{text-decoration: none;
       color: black; }
strong{display: inline;}
.newspol{display: inline-block;
       padding: 0 5px;
       color: #004080;}
.vvv  {display: grid;
       grid-template-areas: "vivat vivat1 vivat2";
       grid-gap: 1105px 6px; 
       height: max-content;
       margin: 15px;
       grid-template-columns: 595px 296px 65px;
       margin-left: 3px;
       margin-right: 3px;}
       
.vivat{font-size: 17px;
       line-height: 21px;
       text-transform: uppercase;
       color: #004080;
       font-weight: bold;
       height: max-content;}
.topnews{background-color:  #f6f0e1;
       border: 1px solid #bfbebc;
       border-radius: 6px;}
.topnews1{border: 1px solid #ae9a71;
       margin: 6px 6px 20px 6px;
       padding-top: 5px;
       padding-bottom: 5px;
       font-size: 16px;
       padding-left: 20px;
       border-radius: 6px;
       background-color: white;}
.topnews2 { margin: -13px 6px 6px 6px;
       border: 1px solid #ae9a71;
       border-radius: 0 0 6px 6px;
       background-color: white;}
img   {width: 578px;}

h1    {font-size: 1.385em;
       font-weight: normal;
       text-transform: uppercase;
       color: #004080;
       margin: 0.769em 0;
       padding: 0 10px 0 15px;}
.article{text-decoration: none;
       color: inherit; }
.article1{margin: 0.769em 0;
       font-size: 10px;
       color: black;
       font-weight: normal;
       padding: 0 10px 0 15px;
       line-height: 14px; }
.time1{font-size: 8px;
       padding: 0 10px 0 15px; }
.time2{position: relative;
       top: -1px;
       left: 412px;
       text-decoration: none;
       font-size: 9px; }
.tel{color: black;
       text-decoration: none;
       display: block;
       padding-top: 62px;
       padding-bottom: 26px;
       margin-top: 15px;
       margin-bottom: 18px;
       background-image: url(./tel.png);}
.kolonka {display: grid;
       grid-template-areas: "publications project";
       grid-template-columns: 301px 538px;
       font-family: Arial, Roboto, sans-serif;
       grid-template-rows: 448px;}
.publications {border: 1px solid #bfbebc;
       border-radius: 6px;
       background-color: #f6f0e1;
       margin-right: 7px;}
.publications1{margin: 3px 3px 3px -6px }
.publications2{margin: 3px 3px -1px 3px;    
         background-color: #faf7f0;
        border: 1px solid #b9b4a8;
        border-radius: 6px;
        padding-bottom: 253px;
        color: black;}
.publications3{margin:10px 0 10px 86px;
       font-size: 13px;
       font-weight: bold;}
.publications4{display: block;
        color: #000;
        text-decoration: none;
        font-size: 9px;
       line-height: normal;}
.time3{font-size: 8px; }
.time4{padding-left: 74px;
       text-decoration: none;
       font-size: 9px;} 
.maceе {margin:10px 0 -11px -8px;
       border-top: 1px dotted #708aac;} 
.mace {margin:10px 0 -11px -2px;
        border-top: 1px dotted #708aac;} 
.mace2{margin-left: 92px;}
.mace3{display: block;
       margin: 7px 0 13px 0;
       font-size: 13px;}
.mace4{display: block;
       color: #000;
       text-decoration: none;
      font-size: 9px;
       line-height: normal;}
.kaplin{ margin:10px 3px 2px 11px;
       border-top: 1px dotted #708aac;}
.kaplin2{margin-left: 75px;}
.kaplin3 {display: block;
       font-weight: bold;
       margin: 7px 0 -2px 0;
        font-size: 13px;}
.kaplin4{display: block;
       color: #000;
       text-decoration: none;
       font-size: 9px;
       line-height: normal;}
.Europe {margin:10px 0 -248px -6px;
        border-top: 1px dotted #708aac;} 
.Europe2 {margin-left: 93px;}
.Europe3 {display: block;
       font-weight: bold;
       margin: 7px 0 13px 0;
        font-size: 13px;}
.Europe4 {display: block;
       color: #000;
       text-decoration: none;
       font-size: 9px;
       line-height: normal;} 
.more {font-size: 8px;
       padding-left: 89px;
       color: black;} 
.project  {border: 1px solid #bfbebc;
       border-radius: 6px;
       background-color: #f6f0e1;
       margin-right: 246px;}        
.project1{margin: 3px 3px 3px -6px}
.header24{font-size: 13px;
         line-height: 17px;
       padding: 5px 7px 4px 13px;
        background-color: white;
          border: 3px solid #bfbebc;
        border-radius: 6px;
        margin-left: 10px;
        margin-bottom: 7px; } 
.project2{margin: 3px 3px -2px 3px;     
        background-color: #faf7f0;
        border: 1px solid #b9b4a8;
        border-radius: 6px;
       color: black;}  
.project3 {margin:11px 19px 20px 86px;
       font-size: 13px;}
.project4 {display: block;
        color: #000;
       text-decoration: none;
       font-size: 9px;
       line-height: normal;}  
.promo{color: black;
       text-decoration: none;
       display: block;
       padding-top: 62px;
       padding-bottom: 26px;
       margin: 15px 15px 16px 1px;
       background-image: url(./telegram-good.png);}
.week{background-color: #f6f0e1;
       border: 1px solid #bfbebc;
       border-radius: 6px;}
.kolonka1 {display: grid;
        grid-template-areas: "publications22 project33 ";
       border-radius: 6px;
       grid-template-columns: 50% 50%;
       margin-top: -19px;}
.death{margin: 5px;
       border: 1px solid #ae9a71; 
       border-radius: 6px;
       background-color: white; }
.death1 {width: 278px;
        margin: 3px;}
.death2 {font-size: 13px;
       color: black;
       text-decoration: none;}
.death3{margin: 4px 9px 6px 12px;
        line-height: 13px;}
 .date {font-size: 9px;
        color: black;
       margin: 10px;
       font-weight: lighter;}
.date1 {margin-top: 33px;}
.coments{font-size: 9px;
       padding-left: 158px;
       color: black;
       font-weight: lighter;
      text-decoration: none;}
.publications22 {border-radius: 6px;
       background-color: #f6f0e1;}  
.project33 {border-radius: 6px;
       background-color: #f6f0e1;} 
.death22{margin: 5px;
       border: 1px solid #ae9a71; 
       border-radius: 6px;
       background-color: white;
       padding-bottom: 0px;}
.death12{margin: 5px;
       border: 1px solid #ae9a71; 
       border-radius: 6px;
       background-color: white;
       padding-bottom: -2px;}
.date2 {margin-top: 24px;}
.death32{margin: 5px;
       border: 1px solid #ae9a71; 
       border-radius: 6px;
       background-color: white;
       padding-bottom: 3px;}
.date3 {margin-top: 14px;}
.vivat1 {border: 1px solid #bfbebc;;
       border-radius: 6px;
        font-size: 14px;
        line-height: 31px;
        text-transform: uppercase;
        color: #004080;
        font-weight: bold;
        grid-template-rows: 100px;
        margin-left: 6px;
        background-color: #f6f0e1;}
.newsfeed{border: 1px solid #ae9a71;
        margin: 4px 2px 2px 2px;
       padding-left: 11px;
       border-radius: 6px;
        background-color: white;}
.newsfeed1{border: 1px solid #ae9a71;
       padding-left: 23px;
        border-radius: 6px;
       background-color: #faf7f0;
       padding-bottom: 1607px;
       margin:4px 3px 2px 3px;} 
.calendar{ margin-left: -16px;} 
.calendar1{font-size: 8px;
       background-color: white;}
.com   {font-size: 10px;
       padding-left: 162px;
       text-decoration: none;} 
.vivat2{border: 1px solid #bfbebc;
       border-radius: 6px;
       background-color: #faf7f0;
       margin-right: -262px;
       margin-bottom: 2644px;
       text-align: center;
        margin-left: 4px;}
.course{border: 1px solid #ae9a71;
       margin: 4px 2px 2px 2px;
       border-radius: 6px;
       padding: 7px 72px 9px 172px;      
       background-color: white;
       padding-bottom: -12px;}
.course1{margin-left: -136px;}
.course2{  color: #004080;
       font-size: 14px;
       text-transform: uppercase;
       font-weight: bold;
       margin-left: -30px;}
.course3{display: grid;
              grid-template-areas: "один купівля продаж НБУ"
                                   "usd usd1 usd2 usd3 "
                                   "evr evr1 tvr2 tvr3"
                                   "pln pln1 pln2 pln3";
       border: 1px solid #ae9a71;
       padding-right: 237px;
        border-radius: 6px;
        margin: 4px 2px 2px 2px;
       background-color: #faf7f0;
       grid-template-columns: 38px 126px 47px 98px;
       padding-left: 10px;
       grid-template-rows: 24px;
       padding-bottom: 10px;}        
.usd{font-weight: bolder;   
        border-bottom: 1px dotted #708aac;}         
.header23{font-size: 13px;
       line-height: 17px;
       padding: 5px 7px 4px 13px;
       background-color: white;
       border: 3px solid #bfbebc;
       border-radius: 6px;
       margin-left: 10px;
       margin-bottom: 7px; } 
.mayor   {display: block;
       margin: 4px 4px 6px 4px;
       text-decoration: none;
       color: #000;
       font-size: 10px;
       margin-left: -18px;
       line-height: 15px;
       margin-top: -5px;
       border-bottom: 1px dotted #708aac;}
.mayor1 {display: block;
       margin: 4px 4px 6px 4px;
       text-decoration: none;
       color: #000;
       font-size: 10px;
       margin-left: -18px;
       line-height: 15px;
       margin-top: -5px;
       border-bottom: 1px dotted #708aac;
       font-weight: bolder;}

       @media (max-width: 900px;){
       .vivat2 { width: 50%}
       .vivat1{width: 50%;}
       .vivat{width: 100%;}
}




      

                       



